################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prg project/.vs/prg project.slnx
/prg project/.vs/prg project/CopilotIndices/18.8.1106.51376
